<div class="favorite">

  <h1 class="favorite_style">Contributor</h1>
  <div class="favorite_cb">
    <p>
    <% user = [] %>
    <% current_user.favorites.each do |f| %>
      <% if !user.include?(f.cd.user.id)%>
        <% user.push(f.cd.user.id) %>
          <%= link_to user_path(f.user.id),style: "color: black;" do %>
            <%= f.user.nick_name %>
          <% end %>,
        <% end %>
    <% end %>
    </p>
  </div>

  <h1 class="favorite_style">CD_Title</h1>
  <div class="favorite_cd">
    <p>
      <% current_user.favorites.each do |f| %>
        <%= link_to user_path(f.user.id) ,style: "color:black;" do %>
          <%= f.cd.cd_title %>
        <% end %>,
      <% end %>
    </p>
  </div>

</div>

<style type="text/css">
.favorite_cd, .favorite_cb p{
  font-size: 30px;
  padding-left: 20px;
}
.favorite_style{
  color:black;
}
.favorite{
 margin-left: 50px;
}
</style>
