<h1 class="favorite_style">Contributor</h1>
<div class="favorite_cb">
  <% user = [] %>
  <% c_user.favorites.each do |f| %>
    <% if !user.include?(f.cd.user.id)%>
      <% user.push(f.cd.user.id) %>
        <%= link_to user_path(f.cd.user.id),style: "color: black;" do %>
          <%= attachment_image_tag  f.user, :image, format: 'jpeg',fallback: "/audio.no_image.jpg", size: "100x100", class: "fv_bc_image"%>
        <% end %>
      <% end %>
  <% end %>

</div>

<h1 class="favorite_style">CD_Title</h1>
<div class="favorite_cd">
    <% c_user.favorites.each do |f| %>
      <%= link_to user_path(f.cd.user.id) ,style: "color:black;" do %>
        <%= attachment_image_tag  f.cd, :cd_image, format: 'jpeg',fallback: "/audio.no_image.jpg", size: "100x100", class: "fv_cd_image"%>
      <% end %>
    <% end %>
</div>
