<%= attachment_image_tag  current_user, :image, format: 'jpeg',fallback: "/no_image.jpg", size: "95x95" , id:"post"%>
<btn>

<div>

  <btn></btn><btn></btn><btn></btn>
  <h1>再生時間を表示</h1>
  <btn></btn><btn></btn><btn></btn>
</div>
