<div id="top">

</div>
<div class="slider1" >

    <ul class="horizontal-list">
      <% @cds.each do |c| %>
      <li class="item itemsab">

          <%= c.id%>

      </li>

      <div class="modal fade" id="dialog2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div>

            </div>
          </div>
        </div>
      </div>

      <% end %>
    </ul>
</div>

<div class="border">


<div class="slider2">
  <ul class="horizontal-list">
    <% @users.each do |c| %>
      <% if c.status == "contribution" %>
      <li class="item">
        <%= link_to user_path(c.id) do %>
          <%= render "users/user_image" %>
        <% end %>
      </li>
      <% end %>
   <% end %>
  </ul>
</div>



<style type="text/css">
 #top{
   height: 400px;
   width: 100%;
   background-color: blue;
   opacity: 0.5;
 }
.slider1, .slider2 {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
  border-top: 3px solid rgba(0,0,0,0.5);


}

.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 350px;


  /* 見た目調整 */
  height: 350px;
  margin: 16px;
  font-size: 48px;
}

.itemsab{
  background: rgba(255, 0, 0, 0.4);
}
</style>
